.wrap{
    width: 1200px;
    margin: 0 auto;
}
.menu{
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-item{
    width: 16.5%;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 1.5%;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
}
.menu-link{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50%;
    height: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../foto/06.jpg");
    margin-top: 100px;
}
.menu-link a{
    color: grey;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    top: -50px;
    left: 0;
}
.menu-item:nth-child(1) .menu-link{
    background-position: -100px -220px;
}
.menu-item:nth-child(2) .menu-link{
    background-position: -220px -220px;
}
.menu-item:nth-child(3) .menu-link{
    background-position: -355px -220px;
}
.menu-item:nth-child(4) .menu-link{
    background-position: -475px -220px;
}
.menu-item:nth-child(5) .menu-link{
    background-position: -605px -220px;
}
